<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='default.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='component.css')}}" />
		<script src="{{url_for('static',filename='modernizr.custom.js')}}"></script>
		<nav>
			<li><a class="active"><b>UNSW App Store</b></a></li>
			<li><a href="{{url_for('home')}}">Home</a></li>
			<li><a href="{{url_for('top')}}">Top</a></li>
			<li><a href="{{url_for('new')}}">New</a></li>

		</nav>
	</head>
	<body>
		<div class="container">	
			<div class="main">
				<ul id="og-grid" class="og-grid">
					{% for app_info in apps %}
					<li>
						<a href="{{app_info[2]}}" data-largesrc="{{url_for('download_file',app_name=app_info[0])}}" data-title="{{app_info[0].capitalize()}}" data-description="{{app_info[1]}}">
							<img src="{{url_for('download_file',app_name=app_info[0])}}" alt="img01" height="150px" width="150px"/>
						</a>
						<br>
						<h1 style="color:grey">{{app_info[0].capitalize()}}</h1>

					</li>
					{% endfor %}
					<!-- white space padding here to align box to left side-->
					<!-- (can't just float box to left as dropdown box breaks) -->
					{% if (apps|length) % 7 != 0 %}
						{% for x in range(6) %}
						<li>
							<img src="https://cdn03.boxcdn.net/sites/default/files/homepage/v2/images/hero/run/layer-4-320.png"  height="150px" width="150px"/>
						</li>
						{% endfor %}
					{% endif %}
					
				</ul>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="{{url_for('static',filename='grid.js')}}"></script>
		<script>
			$(function() {
				Grid.init();
			});
		</script>
	</body>
</html>